body {
    background: url(http://www.zhuyingda.com/static/img/bg-new.png) repeat-y center top;
    font-family: 'Microsoft Yahei', '微软雅黑', arial, '宋体', 'Hiragino Sans GB', Tahoma, Arial, Helvetica, STHeiti !important;
}
.screen-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.screen-wrap .bg-wrap {
    width: 2560px;
    height: 1600px;
    left: -116px;
    position: absolute;
    overflow: hidden;
}
.title{
    color: #fed136;
    font-size: 24px;
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: 99;
}
.info-box {
    background: url(http://www.zhuyingda.com/static/img/ico-back.png) repeat-y center top;
    bottom: 36%;
    right: 20%;
    width: 300px;
    height: 80px;
    position: absolute;
    z-index: 99;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}
.info-box p {
    color: #fed136;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    padding-left: 18px;
}
.info-box a {
    color: #fed136;
    line-height: 20px;
    padding: 19px;
    font-size: 14px;
}


.wrapper{
    width: 100%;
    height: 1080px;
}
.list {
    width: 800px;
    margin: 0 auto;
    padding: 100px;
}
.list h2 {
    color: #eeeeee;
    font-size: 20px;
    padding-bottom: 10px;
}
.list h3 {
    color: rgba(0,0,0,0.45);
    margin-top: 30px;
    font-size: 20px;
    padding-bottom: 10px;
}
.list a {
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    display: inline-block;
    height: 50px;
    text-decoration: none;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
li {
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    list-style-type: disc;
    margin-left: 19px;
}
.list a:hover{
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    color: #fed136;
}
.list em {
    color: #fed136;
    text-shadow: #ccc 0 1px 0;
}
.list p {
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
}
.list i {
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
    display: block;
}
.list span {
    font-size: 14px;
    line-height: 30px;
    display: block;
    padding: 5px 5px 5px 20px;
    background: rgb(43, 43, 43);
    color: rgb(241, 188, 105);
    border-radius: 5px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sec {
    padding-bottom: 50px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 50px;
}

.nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 1180px;
    background: #393939;
    padding-top: 30px;
}
.nav a{
    font-size: 18px;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.friend-link {
    position: absolute;
    bottom: 0;
    left: 57%;
    margin-left: -100px;
    background: rgba(255, 255, 255, .2);
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #cccccc;
    display: none;
}
.back {
    background: url(http://www.zhuyingda.com/static/img/ico-back.png) no-repeat left center;
    padding-left: 30px;
    margin-left: -15px;
}

#article {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.btn-home {
    background: url(http://www.zhuyingda.com/static/img/btn-home.png) no-repeat left top;
    width: 86px;
    height: 100px;
    cursor: pointer;
    display: block;
    position: fixed;
    left: 50px;
    top: 150px;
}
.list .ti {
    color: rgba(0, 0, 0, 0.45);
}
.t-title {
    width: 800px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 100px;
}
.t-title h1 {
    font-size: 24px;
    color: rgba(0,0,0,0.9);
    background: url(http://www.zhuyingda.com/static/img/deco-title.png) no-repeat left 51px;
    padding-left: 14px;
    font-weight: normal;
    text-align: left;
    padding-top: 50px;
}